:root {
    /* Some nice font */
}

body {
    margin: 0;
}

/* Main page container */
.container {
    display: grid;

    grid-template-columns: 320px 5fr;
    grid-template-rows: 180px 6fr;

    height: 100vh; /* Whole screen height */
    width: 100vw;
}

.sidebar {
    border: 2px solid red;
    grid-area: 1 / 1 / 3 / 2;

    /* Sections for logo, main and bottom links */
    display: grid;

    grid-template: 80px 1fr 1fr 1fr / 1fr;
}

.header {
    border: 2px solid yellow;
    grid-area: 1 / 2 / 2 / 3;
}

.main-content {
    border: 2px solid blue;
    grid-area: 2 / 2 / 3 / 3;
}

/* Sidebar stuff */
#logo {
    grid-area: 1 / 1 / 2 / 2;
}
